<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="4.0" metadata-complete="false">
    <display-name>TA Recruitment System</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Explicit mapping: some Tomcat / plugin setups do not pick up @WebServlet for this path -->
    <servlet>
        <servlet-name>MoApplicantsServlet</servlet-name>
        <servlet-class>com.ta.servlet.MoApplicantsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoApplicantsServlet</servlet-name>
        <url-pattern>/mo/applicants</url-pattern>
    </servlet-mapping>
</web-app>
